body {
    background-color: lightgrey;
    height: 65vh;
}

header,
nav,
main,
footer {
    padding: 1em 0;
}

header {
    display: flex;
    justify-content: flex-start ;    
    background-color: white;
    color: black;
    text-align: center;
  
}


.header_titre {
    width: 80%;
}

.header_logo {
    width: 20%;
    padding-top: 1%;
}

.header_logo > a > img{
    width: 20%;
}

.main_div {
    display: flex;
	justify-content: space-between;
    margin: auto;
    border: 4px solid gray;
    border-radius: 1em;
    box-sizing: border-box;
	height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;    
	background-color: gray;
    padding-left: 1em;
    padding-right: 1em;
	line-height: 2em;
    
}

main {
	background-color: lightgrey;
    padding-left: 1em;
}

footer {
	display: flex;
	justify-content: space-around;
    background-color: white;
}

.notification{
    background-color: #ffffe6;
    margin: 1em;
    padding: 1em;
    border: 1px solid  #ffffe6;

}

.panneau{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-y: auto;
    text-align: center;    
}

.panneau > div{
    margin-right: 2%;
}

.panneau_details{
    width: 80%;
}

.table_resultat{
    width: 100%;
    border: 1px solid gray;
    background-color: white;
    text-align: center;
}

.table_resultat > thead > tr{
    border: 1px solid gray;
    background-color: lightgrey;
}

.table_resultat > tbody > tr:hover{
    cursor: pointer;
    background-color: gray !important;
    color:  white;
}

.table_resultat > tbody > tr:nth-child(2n){
    border: 1px solid gray;
    background-color: lightgrey;
}


.table_resultat > tbody > tr:nth-child(2n+1){
    border: 1px solid gray;
    background-color: white;
}

.bloc_commandes{
    border: 1px solid gray;
    border-radius: 2em;
    background-color: white;
    margin-left: 5%;
    margin-bottom: 2%;
    padding: 10px 10px 10px 10px;
    width: 90%;
}

.bloc_commandes > input[type=submit]{
    width : 15%;
    font-size: 1.2em;
    margin-left: 4%;
}


.bloc_commandes > select{
    width: 30%; 
    font-size: 1.2em;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.bloc_commandes > input[type=submit]:hover, .bloc_commandes > select:hover{

    cursor: pointer;
}


.acceuil_description {
    font-weight: bold;
    font-size: 17px
}

#acceuil_auteurs {
    color: #ffa500;
}

.bloc_requete {
    height: 30%;
}

.btn-req {
    width: 20px;
    height: 40px;
}